.header{
    width: 375px;
    height: 67px;
    background-color:#C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-weight: 400;
    font-size: 34px;
    color: #E8833A;
}